<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">NoSQL and Handlebars</h1>
        <p class="lead"></p>A simple tool to see what's Funny on Reddit!</p>
        <hr class="my-4">
        <p>It pulls the most recent upvoted posts from reddit.com/r/funny into an easy to use format</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" id="get-started" role="button">Get Started</a>
        </p>
    </div>
</div>